      <button id="btn" class="large awesome magenta">Show form!</button><br>

      <div id="contactus">
          <p>Type a message to see it autogrow:</p>
          <textarea id="contact"></textarea>
      </div>

